* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray-dark: #131313;
    --green-dark: #06363f;
    --green-light: #00c1a1;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Milonga", serif;
    background-color: var(--gray-dark)
}

section:first-child {
    height: 100dvh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Header */
header {
    position: fixed;
    top: 30px;
    left: 50%; 
    transform: translateX(-50%);
    background-color: var(--gray-dark);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header nav a {
    color: var(--green-dark);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

/* Section - Hero */
section.hero-section {
    background: linear-gradient(#06363fee, var(#00c1a1)), 
                url("https://img.freepik.com/fotos-gratis/a-dupla-exposicao-de-um-homem-caucasiano-e-um-fone-de-ouvido-de-realidade-virtual-vr-e-presumivelmente-um-jogador-ou-um-hacker-quebrando-o-codigo-em-uma-rede-ou-servidor-seguro-com-linhas-de-codigo_146671-18910.jpg?t=st=1736125556~exp=1736129156~hmac=2698fe8c98acd2ef13058e564747b185b63c08a5b17813b81e9f2a8326969c85&w=900");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

section.hero-section div.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.hero-section div.titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.hero-section div.titles span:nth-of-type(1) {
    color: var(--green-light);
    font-size: 26px;
}

section.hero-section div.titles span:nth-of-type(2) {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

section.hero-section div.titles h1 {
    color: var(--green-dark);
    font-size: 64px;
    font-weight: 600;
}

section.hero-section div.buttons {
    display: flex;
    gap: 30px;
}

section.hero-section div.buttons a {
    font-size: 18px;
    transition: .3s;
    padding: 12px 36px;
    text-decoration: none;

}

section.hero-section div.buttons a:nth-of-type(1) { 
    border: 2px solid var(--green-light);
    border-radius: 10px;
    color: var(--white);
}

section.hero-section div.buttons a:nth-of-type(1):hover {
    background-color: var(--green-light);
    border: 2px solid var(--green-light);
    color: var(--gray-dark);
}

section.hero-section div.buttons a:nth-of-type(2) {
    background-color: var(--green-light);
    border-radius: 10px;
    border: 2px solid var(--green-light);
    color: var(--gray-dark);
}

section.hero-section div.buttons a:nth-of-type(2):hover {
    background-color: transparent;
    border: 2px solid var(--green-light);
    color: var(--green-light);
}

/* Section - Sobre mim */
section.sobre-mim {
    padding-top : 100px;
    padding-bottom: 100px;
}
 section.sobre-mim div.container {
    display: flex;
    gap: 50px;
}
section.sobre-mim div.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 70%;
}
section.sobre-mim div.sobre-mim h2 {
    font-size: 37px;
    background: linear-gradient(90deg, #06363f, #00c1a1,#06363f);
    background-size: 95%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: sombra 3s linear infinite alternate;
    
}
section.sobre-mim div.sobre-mim p {
    color: #00c1a1(255, 188, 219, 0.938);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
}
section.sobre-mim div.img {
    color: #00c1a1(255, 188, 219, 0.938);
    display: flex;
    justify-content: center;
    width: 30%;
}
section.sobre-mim div.img img {
    width: 80%;
} 
@keyframes sombra {
    0% {
    background-position: -500%;
}
100% {
    background-position: 500%;
}
}
section.a p {
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    background: linear-gradient(90deg, #00c1a1, #06363f, #00c1a1, #06363f);
    -webkit-background-clip: text;
    color: transparent; 
    gap: 30px;
    padding: 100px 10px;
}
/* Cards */
section div.group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 100px;
} 
section div.group div.flipbox {
    grid-template-columns: repeat(2, 1fr);
    height: 270px;
    width: 240px;
    perspective: 800px;
    padding: 1px 10px  ;
    gap: 30px;
    
}
section div.group div.flipbox div.flipbox__card {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
}  
section div.group div.flipbox:hover div.flipbox__card {
    transform: rotateY(-180deg);
} 
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark,
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
} 
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark {
    background-color: var(--green-light);
}  
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark h2 {
    background: -webkit-linear-gradient(315deg, var(--green-dark), var(--green-dark));
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 40px;
} 
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark h4 {
    color: var(--green-dark);
    font-size: 28px;
} 
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark {
    background-image: -webkit-linear-gradient(315deg, var(--green-dark), var(---green-dark));
    transform: rotateY(180deg);
    gap: 20px;
}  
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark span {
    font-size: 16px;
} 
section div.group div.flipbox div.flipbox__card div.flipbox__card--green-dark button {
    background-color: var(--green-dark);
    color: var(--green-light);
    font-family: "Play", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}
section div.group details.accordion__details summary.accordion__details--summary {
    background-color: var(--green-light);
    color: var(--green-dark);
    cursor: pointer;
    padding: 20px 30px;
    transition: .5s;
    display: flex;
    justify-content: space-between;
} 
section div.group details.accordion__details summary.accordion__details--summary span {
    background: -webkit-linear-gradient(315deg, var(--green-dark), var(--green-light));
    -webkit-background-clip: text;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
section div.group details.accordion__details summary.accordion__details--summary div.details__summary--icon i.fa-solid.fa-minus {
    display: none;
}
section div.group details.accordion__details[open] summary.accordion__details--summary div.details__summary--icon i.fa-solid.fa-minus {
    display: block;
}
section div.group details.accordion__details summary.accordion__details--summary div.details__summary--icon i.fa-solid.fa-plus {
    display: block;
}
section div.group details.accordion__details[open] summary.accordion__details--summary div.details__summary--icon i.fa-solid.fa-plus {
    display: none;
}
section div.group details.accordion__details p.accordion__details--content {
    background-image: -webkit-linear-gradient(315deg, var(--green-light), var(--green-light));
    padding: 20px 30px;
    font-size: 16px;
}
div.links { 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 30px;
    justify-content: center;
    align-items:center;
}
div.links a
{
    font-size: 18px;
    padding: 15px;
    border: 1px solid  #06363f;
    color: #06363f;
    text-decoration: none;
    text-align: center;
    border-radius: 50px; 
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

div.links a:hover {
    background-color: #06363f;
    color: #00c1a1;
    box-shadow: 0 0 15px #06363f;
}

@media screen and (max-width:480px) {
    div.container {
        flex-direction: column;
           
           }
           div.links a
           {
             font-size: 14px;
           }       
}
